* {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

/* header */
.header {
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.banner {
    padding: 185px 200px;
    text-align: right;
    color: white;
}

.banner-titel {
    font-size: 50px;
}

.banner-description {
    margin-top: 20px;
    font-size: 18px;
}

.button-primary {
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    font-size: 18px;
    color: #005FAC;
}

/* main */
.main {

    margin-top: 100px;
}

.first-section {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 200px;
}

.first-section-titel {
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
}

.first-section-description {
    color: gray;
    font-size: 15px;
    margin-bottom: 20px;
}

.first-section-icon-text {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 6px 0px;
}

.first-section-icon {
    color: rgb(22, 194, 22);
}

/* second section */
.second-section {
    margin: 100px;
    padding: 0px 100px;
}

.second-section-titel {
    text-align: center;
    color: black;
    font-size: 25px;
}

/* plans-item */

.plans-item {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;

}

.plans-item-team {
    align-items: center;
    text-align: center;
}

.plans-item-description {
    color: gray;
}

/* three-section */

.three-section {
    margin: 100px 200px;
}

.three-section-image {
    background-image: url(../images/watch.png);
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    height: 250px;
}

.three-section-image-two{
    background-image: url(../images/gradient1.png);
    background-repeat: no-repeat;  
    background-size: 100% 100%;
    height: 250px;
}
.three-section-background-text{
    padding: 50px 50px;
}
.three-section-titel{
    color: white;
    font-size: 30px;
}
/* footer */
footer{
    background-color: #151414;
    padding: 120px 200px;
    color: rgb(255, 255, 255);
}

.footer-titel{
    font-size: 35px;
    margin-bottom: 10px;
}

.first-footer{
    display: flex;
    justify-content: space-between;
}
.footer-description{
    margin-bottom: 10px;
    font-size: 14px;
}
.footer-sub-description{
    padding: 5px 0px;
    font-size: 14px;
}

.footer-icon{
    display: flex;
   padding: 20px 0px;
   gap: 15px;
}
.footer-icon li{
    list-style: none;
}

.footer-sub-titel{
    font-size: 20px;
    margin-bottom: 10px;
}


.footer-form input[type="email"]{
    padding: 10px 10px;
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #151414;


}
.button-primary-footer {
    padding: 8px 20px;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    font-size: 15px;
    color: #ffffff ;
    background-color: #005FAC;
    
}