*{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
/* header */
.header{
 
    background-repeat: no-repeat;
    background-size: 100% 100%;

    
}

.banner{
    padding: 185px 200px;
    text-align: right;
    color: white;
}

.banner-titel{
    font-size: 50px;
}
.banner-description{
    margin-top: 20px;
    font-size: 18px;
}

.button-primary{
    padding: 10px 20px;
    border-radius: 5px;
    border: 0;
    margin-top: 20px;
    font-size: 18px;
    color: #005FAC;
}
/* main */
.main{
    padding: 0px 200px;
    margin-top: 100px;
}

.first-section{
    display: flex;
    gap: 10px;
    align-items: center;
}
.first-section-titel{
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}

.first-section-description{
    color: gray;
    font-size: 15px;
    margin-bottom: 20px;
}
.first-section-icon-text{
    display: flex;
    gap: 10px;
}
